* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

.loginmain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url(../assests/pupbg.jpg);
  background-size: cover;
}

.logincontainer {
  border: solid black;
  background: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0px 0px 16px 0px rgba(233, 233, 233, 0.603);
  border-radius: 20px;
  color: black;
  width: 60vh;
  height: 70%;
}

img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 20%;
  height: 50%;
}

.pic {
  display: flex;
  justify-content: center;
  padding: 10px;
}

h2 {
  font-size: 36px;
  text-align: center;
  padding: 5px;
  color: whitesmoke;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  padding: 5px 15px;
}

.entryarea {
  position: relative;
  height: 80px;
  line-height: 80px;
}

input {
  position: absolute;
  width: 100%;
  outline: none;
  font-size: 1.5em;
  font-weight: 50;
  padding: 0 30px;
  padding-right: 7b 0px;
  line-height: 80px;
  border-radius: 10px;
  background: transparent;
  transition: 0.1s ease;
  z-index: 1111;
}

.labelline {
  position: absolute;
  font-size: 1.6em;
  color: grey;
  padding: 0 5px;
  margin: 0 20px;
  background-color: white;
  transition: 0.2s ease;
}

input:focus,
input:valid {
  color: black;
  border: 4px solid lightblue;
}

input:focus + .labelline,
input:valid + .labelline {
  color: lightblue;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
}

.bxs-envelope {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-40%);
  font-size: 30px;
  color: #000; /* Initial color */
  transition: color 0.3s ease; /* Add transition effect for color change */
}

.logincontainer .remember-forgot {
  display: flex;
  justify-content: space-between;
  margin: -15px 0px 15px;
  padding: 5px;
  font-size: medium;
  font-weight: 700;
}

.remember-forgot label input {
  accent-color: white;
  margin-right: 2px;
  cursor: pointer;
}

.remember-forgot {
  color: whitesmoke;
}

.remember-alignment {
  margin: 12px;
}

.btn {
  width: 90%;
  height: 50px;
  background: white;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
}

.loginbutton {
  display: flex;
  justify-content: center;
}

.loginregister {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-weight: 700;
  font-size: normal;
  color: whitesmoke;
}

/* .line {
    text-align: center;
    position: relative;
  }
  
  .line::before {
    background-color: black;
    display: block;
    width: 120px;
    height: 2px;
    content: "";
    position: absolute;
    left: 0;
    top: 30%;
    z-index: -1;
  }
  
  .line::after {
    background-color: black;
    width: 200px;
    height: 2px;
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 30%;
    z-index: -1;
  } */

/* .loginWithFacebook {
    display: flex;
    justify-content: center;
    padding: 20px;
  } */

/* .btnWithFb {
    width: 70%;
    height: 40px;
    background: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  } */

/* .loginWithGoogle {
    display: flex;
    justify-content: center;
  } */

/* .btnWithGoogle {
    width: 70%;
    height: 40px;
    background: white;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
  } */

.loginIcon {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.facebookIcon {
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.googleIcon {
  color: white;
  font-size: 50px;
  cursor: pointer;
}
